
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" 

     >

    <application
        android:label="bmta_rfid_app"
        tools:replace="android:label"
         >
        
    </application>
        <uses-permission android:name="android.permission.INTERNET"/>


        <uses-permission android:name="android.permission.BLUETOOTH"/>
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        <uses-permission android:name="android.permission.BLUETOOTH_Scan"/>

        <!-- สำหรับ Android 12+ -->
        <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:required="false"/>



</manifest>


