
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" 

     >

    <application
        android:label="bmta_rfid_app"
        tools:replace="android:label"
         >
        
    </application>
        <uses-permission android:name="android.permission.INTERNET"/>

</manifest>


